@page "/"
@using ScuolaCarloGiorda.Models
@using ScuolaCarloGiorda.Services
@inject CorsiService _corsiService
<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<button class="btn btn-primary" @onclick="@ShowAddCorsoForm">Crea Corso</button>
<table>
    <thead>
    <tr>
        <th>Nome</th>
    </tr>
    </thead>
    <tbody>
    @foreach (Corso corso in _corsi)
    {
        <tr>
            <td>@corso.Name</td>
            <td><button class="btn btn-primary oi-plus" @onclick="@(()=>SelectCorso(corso))"></button></td>
        </tr>
    }
    </tbody>
</table>
@if (_selectedCorso != null)
{
    
    <EditCorsoPopup Corso="@_selectedCorso" Save="@OnSave" Close="@OnCancel"></EditCorsoPopup>
  
}
@code
{
    List<Corso>? _corsi;
    Corso? _selectedCorso;
    
    protected override void OnInitialized()
    {
      
        _corsi=_corsiService.ListCorsi();
    }

    private void ShowAddCorsoForm()
    {
      
        Corso corso = new Corso
        {
            Name = "TEST_" + DateTime.Now
        };
        _selectedCorso = corso;
        
    }

    private void SelectCorso(Corso corso)
    {
        _selectedCorso = corso;
    }
    private void OnSave()
    {
        _selectedCorso = null;
        _corsi=_corsiService.ListCorsi();
        StateHasChanged();
    }
    private void OnCancel()
    {
        _selectedCorso = null;
        StateHasChanged();
    }
}
